* {
  box-sizing: border-box;
}
body {
  padding: 0 10% 0 10%;
  min-width: 300px;
}

.top-block {
  margin-bottom: 3em;
  min-width: 240px;
}

header {
  text-align: center;
}

.map-wrapper {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  /* height: 600px; */
  border: 1px solid rgba(22, 109, 248, 0.5);
  box-shadow: 0 0 20px 10px rgba(22, 109, 248, 0.4);
  border-radius: 1em;
  margin-bottom: 3em;
  padding: 1em;
}

.map-wrapper > * {
  margin: 1em;
  border-radius: 1em;
  border: 1px solid rgba(22, 109, 248, 0.5);
  box-shadow: 0 0 10px 5px rgba(22, 109, 248, 0.4);
  flex: 1 100%;
}

.map-form {
  padding: 1em;
  align-self: flex-start;
}

.map-canvas {
  min-height: 300px;
}

@media all and (min-width: 800px) {
  .map-form {
    flex: 4 0 0;
  }

  .map-canvas {
    flex: 3 0 0;
    height: 400px;
  }
}
